
.arp_keys_rest {
  z-index: 5;
  position: absolute;
  height: 40%;
  width: 8%;
  bottom: 5%;
  background: rgb(3,3,5);
background: linear-gradient(0deg, rgb(3,3,5) 0%, rgb(15,12,25) 1%, rgb(15,12,25) 57%, rgb(3,3,5) 100%);
  left: 5%;
  clip-path: polygon(99% 99%, 98% 0, 1% 2%, 4% 100%);
  opacity: 1;
}
.arp_keys_rest:hover {
  background: #FEF200 !important;
}

@media screen and (min-width: 1024px) {
  .arp_keys_rest {
    left: 0vw;
    height: 8vh;
    width: 2vw;
    bottom: 2vh;
  }
}
@media screen and (min-width: 1260px) {
  .arp_keys_rest {
    
    height: 8vh;
    width: 2vw;
    bottom: 3vh;
    left: 2vw;
  }
}