

.arp_sequence {   
    width: 100%;
    height: 100%;
    position: relative;
}

.arp_sequence_grids {
    
    height: 100%;
    position: absolute;
    width: 100%;
}


.arp_sequence_grid_container {   
    width:  80%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}


@media screen and (min-width: 640px) {
    .arp_sequence_grid_container {   
        width: 60%;
    }    
}

@media screen and (min-width: 1024px) {
    .arp_sequence_grid_container {   
        width: 40%;
    }    

}

@media screen and (min-width: 1260px) {
    .arp_sequence_grid_container {   
        width: 25%;
    }    

}


.arp_sequence_grid {
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    grid-gap: 1%;
    gap: 1%;
}