.arp_keybar {
    height: 100%;
    width: 100%;
    background-color: #261f22;
    color: #FEFBF6;
    display: grid;
    justify-content: center;
    align-items: end;
    grid-template-rows: 1fr;
    grid-template-columns: 90%;
    position: fixed;
    height: 3vh;
    top: 0;
    z-index: 10;
    box-shadow: 0px -5px 15px #888;
}

.arp_keybar_container { 
    display: grid;
    justify-content: left;
    align-items: end;
    height: 85%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 2fr ;
    gap: 5%;
}

.arp_keybar_button {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #0165af, #0178d0);

}
