
.arp_keys_octaves{
  display: flex;
  position: relative;
  box-sizing: content-box;
  width: 90vw;
  flex-wrap: wrap;
  margin-left: 5vw;
  height: 100%;
  margin: 0 auto;
  }
  .arp_keys_octave{
    display: flex;
    position: relative;
    margin: 2px 0 2px 2px;
    box-sizing: content-box;
    width: 85%;
    padding: 2vh 0;
    justify-content: space-between;
    height: 40%;
    margin: 0;
  }
  @media screen and (max-width: 639px) {
    .arp_keys_octave-2{
      transform: translateX(-15%) translateY(-50%);
    }
    .arp_keys_octave-3{
      transform: translateX(-30%) translateY(-100%);
    }
    .arp_keys_octave-4{
      transform: translateX(-45%) translateY(-150%);
    }
    .arp_keys_octave-5{
      transform: translateX(-60%) translateY(-200%);
    }
    .arp_keys_octave-6{
      transform: translateX(-75%) translateY(-250%);
    }
    .arp_keys_octave-7{
      transform: translateX(-90%) translateY(-300%);
    }
  }

  .arp_keys_octave:nth-of-type(2) {
    left: 15%;
  }
  .arp_keys_octave:nth-of-type(3) {
    left: 30%;
  }
  .arp_keys_octave:nth-of-type(4) {
    left: 45%;
  }
  .arp_keys_octave:nth-of-type(5) {
    left: 60%;
  }
  .arp_keys_octave:nth-of-type(6) {
    left: 75%;
  }
  .arp_keys_octave:nth-of-type(7) {
    left: 90%;
  }
  .arp_keys_octave:nth-of-type(8) {
    left: 105%;
  }

  .arp_keys_octave:last-of-type {
    margin-right:0px
  }
  .arp_keys_octave:first-of-type {
    margin-left:0px
  }
  
@media screen and (min-width: 640px) {
    .arp_keys_octaves{
        width: 95vw;
    }
      .arp_keys_octave{
        height: 50%;
        width: 50%;
        box-sizing: border-box;
        padding-right: 1.25%;
    }
    
  .arp_keys_octave:nth-of-type(2), 
  .arp_keys_octave:nth-of-type(3), 
  .arp_keys_octave:nth-of-type(4), 
  .arp_keys_octave:nth-of-type(5),
  .arp_keys_octave:nth-of-type(6),
  .arp_keys_octave:nth-of-type(7),
  .arp_keys_octave:nth-of-type(8) {
    left: 0;
  }
}
@media screen and (min-width: 1024px) {
    .arp_keys_octaves{
        width: 95vw;
    }
    .arp_keys_octave{
        height: 50%;
        width: 25%;
        box-sizing: border-box;
        padding-right: .625%;
    }
}