.arp_patterns {
    grid-area: pattern;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.arp_pattern {
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: white;
}

.arp_pattern_details {
    background-color: #FEFBF6;
    color: #07060a;
    width: 100%;
    height: 60%;
    text-align: left;
    padding: 0% 5%;
    border-right: 3px solid #07060a;
    border-left: 3px solid #07060a;
    border-bottom: 3px solid #07060a;
    border-top: 3px solid #07060a;
}

.arp_pattern_patternvisual {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
    overflow: hidden;
    position: relative;
    bottom: -1px;
}
.arp_pattern_patternvisual_entries {
    display: flex;
    width: 100%;
}
.arp_pattern_patternvisual_entry {
    margin-right: 0.25%;
    display: block;
    position: relative;
    flex-grow: 1;
    background: #07060a;
    background: rgb(3,3,5);
    background: linear-gradient(0deg, rgb(3,3,5) 0%, rgb(15,12,25) 1%, rgb(15,12,25) 57%, rgb(3,3,5) 100%);
    transform: scaleX(1);
    z-index: 1;
}


.arp_pattern_patternvisual_entry:last-of-type {
    margin-right: 0;
}
/*
.arp_pattern_patternvisual_entry_column:last-of-type {
    transform: translateX(-100%) scaleY(0%); 
}
*/
.arp_pattern_patternvisual_entry_column {
    z-index: 2;
    height: 100%;
    position: absolute; 
    transform-origin: bottom;
    /*
    width: 2%;
    transform: translateX(-50%);
    */
}
/*
.arp_pattern_patternvisual_entry_column:last-of-type {
    transform: translateX(-100%); 
}

.arp_pattern_patternvisual_entry_column:first-of-type {
    transform: translateX(0%);
}
*/

.arp_pattern_patternvisual_entry_column {
    transform-origin: bottom;
    height: 100%;
    width: 100%;
    transform: translateX(0%) scaleY(0%);
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(221,187,51) 57%, rgb(254,242,0) 100%) !important;
}

.arp_pattern_patternvisual_playingentry0 .arp_pattern_patternvisual_entry:nth-of-type(1)>.arp_pattern_patternvisual_entry_column {
z-index:2;
    transform: translateX(0%) scaleY(100%);
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(221,187,51) 57%, rgb(254,242,0) 100%) !important;
}
.arp_pattern_patternvisual_playingentry1 .arp_pattern_patternvisual_entry:nth-of-type(2)>.arp_pattern_patternvisual_entry_column {
z-index:2;
transform: translateX(0%) scaleY(100%);
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(221,187,51) 57%, rgb(254,242,0) 100%) !important;
}
.arp_pattern_patternvisual_playingentry2 .arp_pattern_patternvisual_entry:nth-of-type(3)>.arp_pattern_patternvisual_entry_column {
z-index:2;
transform: translateX(0%) scaleY(100%);
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(221,187,51) 57%, rgb(254,242,0) 100%) !important;
}
.arp_pattern_patternvisual_playingentry3 .arp_pattern_patternvisual_entry:nth-of-type(4)>.arp_pattern_patternvisual_entry_column {
z-index:2;
transform: translateX(0%) scaleY(100%);
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(221,187,51) 57%, rgb(254,242,0) 100%) !important;
}
.arp_pattern_patternvisual_playingentry4 .arp_pattern_patternvisual_entry:nth-of-type(5)>.arp_pattern_patternvisual_entry_column {
z-index:2;
transform: translateX(0%) scaleY(100%);
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(221,187,51) 57%, rgb(254,242,0) 100%) !important;
}
.arp_pattern_patternvisual_playingentry5 .arp_pattern_patternvisual_entry:nth-of-type(6)>.arp_pattern_patternvisual_entry_column {
z-index:2;
transform: translateX(0%) scaleY(100%);
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(221,187,51) 57%, rgb(254,242,0) 100%) !important;
}
.arp_pattern_patternvisual_playingentry6 .arp_pattern_patternvisual_entry:nth-of-type(7)>.arp_pattern_patternvisual_entry_column {
z-index:2;
transform: translateX(0%) scaleY(100%);
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(221,187,51) 57%, rgb(254,242,0) 100%) !important;
}
.arp_pattern_patternvisual_playingentry7 .arp_pattern_patternvisual_entry:nth-of-type(8)>.arp_pattern_patternvisual_entry_column {
z-index:2;
transform: translateX(0%) scaleY(100%);
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(221,187,51) 57%, rgb(254,242,0) 100%) !important;
}
.arp_pattern_patternvisual_playingentry8 .arp_pattern_patternvisual_entry:nth-of-type(9)>.arp_pattern_patternvisual_entry_column {
z-index:2;
transform: translateX(0%) scaleY(100%);
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(221,187,51) 57%, rgb(254,242,0) 100%) !important;
}
.arp_pattern_patternvisual_playingentry9 .arp_pattern_patternvisual_entry:nth-of-type(10)>.arp_pattern_patternvisual_entry_column {
z-index:2;
transform: translateX(0%) scaleY(100%);
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(221,187,51) 57%, rgb(254,242,0) 100%) !important;
}
.arp_pattern_patternvisual_playingentry10 .arp_pattern_patternvisual_entry:nth-of-type(11)>.arp_pattern_patternvisual_entry_column {
z-index:2;
transform: translateX(0%) scaleY(100%);
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(221,187,51) 57%, rgb(254,242,0) 100%) !important;
}
.arp_pattern_patternvisual_playingentry11 .arp_pattern_patternvisual_entry:nth-of-type(12)>.arp_pattern_patternvisual_entry_column {
z-index:2;
transform: translateX(0%) scaleY(100%);
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(221,187,51) 57%, rgb(254,242,0) 100%) !important;
}
.arp_pattern_patternvisual_playingentry12 .arp_pattern_patternvisual_entry:nth-of-type(13)>.arp_pattern_patternvisual_entry_column {
z-index:2;
transform: translateX(0%) scaleY(100%);
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(221,187,51) 57%, rgb(254,242,0) 100%) !important;
}
.arp_pattern_patternvisual_playingentry13 .arp_pattern_patternvisual_entry:nth-of-type(14)>.arp_pattern_patternvisual_entry_column {
z-index:2;
transform: translateX(0%) scaleY(100%);
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(221,187,51) 57%, rgb(254,242,0) 100%) !important;
}
.arp_pattern_patternvisual_playingentry14 .arp_pattern_patternvisual_entry:nth-of-type(15)>.arp_pattern_patternvisual_entry_column {
z-index:2;
transform: translateX(0%) scaleY(100%);
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(221,187,51) 57%, rgb(254,242,0) 100%) !important;
}
.arp_pattern_patternvisual_playingentry15 .arp_pattern_patternvisual_entry:nth-of-type(16)>.arp_pattern_patternvisual_entry_column {
z-index:2;
transform: translateX(0%) scaleY(100%);
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(221,187,51) 57%, rgb(254,242,0) 100%) !important;
}