.arp_controls {
    grid-area: controls;
    height: 100%;
    width: 100%;
    background-color: #261f22;
    color: #FEFBF6;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 90%;
    position: fixed;
    height: 10%;
    bottom: 0;
    z-index: 10;
}

.arp_controls_container { 
    display: grid;
    justify-content: left;
    align-items: center;
    height: 50%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5%;
}

.arp_control_button {
    height: 100%;
    width: 100%;
    background-color: #07060a;
    padding: 20%;
    clip-path: polygon(0 2%, 99% 1%, 99% 97%, 2% 100%);

}

.arp_control_button_play {
    clip-path: polygon(5% 3%, 1% 99%, 98% 53%);
    display: block;
    background-color: #FEFBF6;
    height: 100%;
    width: 100%;
}

.arp_control_button_pause {
clip-path: polygon(4% 2%, 96% 0, 99% 100%, 0 98%);

    display: block;
    background-color: #FEFBF6;
    height: 100%;
    width: 100%;
}