.arp_sequence_step_container {

    position: relative;
    padding: 0 0.5vh;
}

.arp_sequence_step_highlight {
    position: absolute;
    height: 100%;
    width: 90%;
    background: orange;
    clip-path: polygon(100% 96%, 98% 1%, 2% 0, 0 100%);
    z-index: 1;
    opacity: 0;
    transform: scale(1.0);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;

}

.arp_sequence_playing_step_0 .arp_sequence_step_highlight.arp_sequence_step-0 {
    opacity: 1;
    transform: scale(1.1);
}
.arp_sequence_playing_step_1 .arp_sequence_step_highlight.arp_sequence_step-1 {
    opacity: 1;
    transform: scale(1.1);
}
.arp_sequence_playing_step_2 .arp_sequence_step_highlight.arp_sequence_step-2 {
    opacity: 1;
    transform: scale(1.1);
}
.arp_sequence_playing_step_3 .arp_sequence_step_highlight.arp_sequence_step-3 {
    opacity: 1;
    transform: scale(1.1);
}
.arp_sequence_playing_step_4 .arp_sequence_step_highlight.arp_sequence_step-4 {
    opacity: 1;
    transform: scale(1.1);
}
.arp_sequence_playing_step_5 .arp_sequence_step_highlight.arp_sequence_step-5 {
    opacity: 1;
    transform: scale(1.1);
}
.arp_sequence_playing_step_6 .arp_sequence_step_highlight.arp_sequence_step-6 {
    opacity: 1;
    transform: scale(1.1);
}
.arp_sequence_playing_step_7 .arp_sequence_step_highlight.arp_sequence_step-7 {
    opacity: 1;
    transform: scale(1.1);
}
.arp_sequence_playing_step_8 .arp_sequence_step_highlight.arp_sequence_step-8 {
    opacity: 1;
    transform: scale(1.1);
}
.arp_sequence_playing_step_9 .arp_sequence_step_highlight.arp_sequence_step-9 {
    opacity: 1;
    transform: scale(1.1);
}
.arp_sequence_playing_step_10 .arp_sequence_step_highlight.arp_sequence_step-10 {
    opacity: 1;
    transform: scale(1.1);
}
.arp_sequence_playing_step_11 .arp_sequence_step_highlight.arp_sequence_step-11 {
    opacity: 1;
    transform: scale(1.1);
}
.arp_sequence_playing_step_12 .arp_sequence_step_highlight.arp_sequence_step-12 {
    opacity: 1;
    transform: scale(1.1);
}
.arp_sequence_playing_step_13 .arp_sequence_step_highlight.arp_sequence_step-13 {
    opacity: 1;
    transform: scale(1.1);
}
.arp_sequence_playing_step_14 .arp_sequence_step_highlight.arp_sequence_step-14 {
    opacity: 1;
    transform: scale(1.1);
}
.arp_sequence_playing_step_15 .arp_sequence_step_highlight.arp_sequence_step-15 {
    opacity: 1;
    transform: scale(1.1);
}

.arp_sequence_step {
    position: relative;
    background-color: #07060a;
    color: white;
    line-height: 0;
    display: grid;
    font-size: 3vh;
    justify-items: center;
    align-items: center; 
    height: 100%;
    z-index: 5;
/*    font-family: 'Plaster';*/
}

.arp_sequence_step::after {
    left: 0;
    background-color: #888;
    height: 20%;
    width: 100%;
    content: "";
    position: absolute;
    bottom: 0;
}

.arp_sequence_step-0 {
    clip-path: polygon(99% 99%, 98% 0, 1% 2%, 4% 100%);
}
.arp_sequence_step-1 {
    clip-path: polygon(100% 96%, 98% 1%, 2% 0, 0 100%);
}
.arp_sequence_step-2 {
    clip-path: polygon(98% 93%, 98% 1%, 0 2%, 3% 99%);
}
.arp_sequence_step-3 {
    clip-path: polygon(99% 99%, 98% 0, 1% 2%, 4% 100%);
}
.arp_sequence_step-4 {
    clip-path: polygon(99% 99%, 98% 0, 1% 2%, 4% 100%);
}
.arp_sequence_step-5 {
    clip-path: polygon(99% 99%, 98% 0, 1% 2%, 4% 100%);
}
.arp_sequence_step-6 {
    clip-path: polygon(99% 99%, 98% 0, 1% 2%, 4% 100%);
}
.arp_sequence_step-7 {
    clip-path: polygon(99% 99%, 98% 0, 1% 2%, 4% 100%);
}
.arp_sequence_step-8 {
    clip-path: polygon(99% 99%, 98% 0, 1% 2%, 4% 100%);
}
.arp_sequence_step-9 {
    clip-path: polygon(99% 99%, 98% 0, 1% 2%, 4% 100%);
}
.arp_sequence_step-10 {
    clip-path: polygon(99% 99%, 98% 0, 1% 2%, 4% 100%);
}
.arp_sequence_step-11 {
    clip-path: polygon(99% 99%, 98% 0, 1% 2%, 4% 100%);
}
.arp_sequence_step-12 {
    clip-path: polygon(99% 99%, 98% 0, 1% 2%, 4% 100%);
}
.arp_sequence_step-13 {
    clip-path: polygon(99% 99%, 98% 0, 1% 2%, 4% 100%);
}
.arp_sequence_step-14 {
    clip-path: polygon(99% 99%, 98% 0, 1% 2%, 4% 100%);
}
.arp_sequence_step-15 {
    clip-path: polygon(99% 99%, 98% 0, 1% 2%, 4% 100%);
}



.arp_sequence_step-0--selected .arp_sequence_step-0::after{
    background-color: #0170C2;
}
.arp_sequence_step-1--selected .arp_sequence_step-1::after{
    background-color: #0170C2;
}
.arp_sequence_step-2--selected .arp_sequence_step-2::after{
    background-color: #0170C2;
}
.arp_sequence_step-3--selected .arp_sequence_step-3::after{
    background-color: #0170C2;
}
.arp_sequence_step-4--selected .arp_sequence_step-4::after{
    background-color: #0170C2;
}
.arp_sequence_step-5--selected .arp_sequence_step-5::after{
    background-color: #0170C2;
}
.arp_sequence_step-6--selected .arp_sequence_step-6::after{
    background-color: #0170C2;
}
.arp_sequence_step-7--selected .arp_sequence_step-7::after{
    background-color: #0170C2;
}
.arp_sequence_step-8--selected .arp_sequence_step-8::after{
    background-color: #0170C2;
}
.arp_sequence_step-9--selected .arp_sequence_step-9::after{
    background-color: #0170C2;
}
.arp_sequence_step-10--selected .arp_sequence_step-10::after{
    background-color: #0170C2;
}
.arp_sequence_step-11--selected .arp_sequence_step-11::after{
    background-color: #0170C2;
}
.arp_sequence_step-12--selected .arp_sequence_step-12::after{
    background-color: #0170C2;
}
.arp_sequence_step-13--selected .arp_sequence_step-13::after{
    background-color: #0170C2;
}
.arp_sequence_step-14--selected .arp_sequence_step-14::after{
    background-color: #0170C2;
}
.arp_sequence_step-15--selected .arp_sequence_step-15::after{
    background-color: #0170C2;
}