.arp_sequence_step_container {
    position: relative;
    padding: 0 0.5vh;
}

.arp_sequence_step_highlight {
    position: absolute;
    height: 100%;
    width: 90%;
    background: orange;
    clip-path: polygon(100% 96%, 98% 1%, 2% 0, 0 100%);
    z-index: 1;
    opacity: 0;
    transform: scale(1.0);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.arp_sequence_step {
    position: relative;
    background-color: #261f22;
    background: #07060a;
    background: rgb(3,3,5);
    background: linear-gradient(0deg, rgb(3,3,5) 0%, rgb(15,12,25) 1%, rgb(15,12,25) 57%, rgb(3,3,5) 100%);
    color: white;
    line-height: 0;
    display: grid;
    font-size: 3vh;
    justify-items: center;
    align-items: center; 
    height: 100%;
    z-index: 5;
}

.arp_sequence_step_note {
    color: white;
    line-height: 0;
    display: grid;
    font-size: 3vh;
    justify-items: center;
    align-items: center; 
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    z-index: 2;
}

.arp_sequence_step_pattern {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    left: 0;
    background-color: #888;
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    box-shadow: 0 0 0vh 0vh rgba(254,242,0, 0);
    z-index: 1;
}

.arp_sequence_step_pattern.arp_sequence_step_pattern_length16{
    grid-template-columns: repeat(16, 1fr);
}
.arp_sequence_step_pattern.arp_sequence_step_pattern_length15{
    grid-template-columns: repeat(15, 1fr);
}
.arp_sequence_step_pattern.arp_sequence_step_pattern_length14{
    grid-template-columns: repeat(14, 1fr);
}
.arp_sequence_step_pattern.arp_sequence_step_pattern_length13{
    grid-template-columns: repeat(13, 1fr);
}
.arp_sequence_step_pattern.arp_sequence_step_pattern_length12{
    grid-template-columns: repeat(12, 1fr);
}
.arp_sequence_step_pattern.arp_sequence_step_pattern_length11{
    grid-template-columns: repeat(11, 1fr);
}
.arp_sequence_step_pattern.arp_sequence_step_pattern_length10{
    grid-template-columns: repeat(10, 1fr);
}
.arp_sequence_step_pattern.arp_sequence_step_pattern_length9{
    grid-template-columns: repeat(9, 1fr);
}
.arp_sequence_step_pattern.arp_sequence_step_pattern_length8{
    grid-template-columns: repeat(8, 1fr);
}
.arp_sequence_step_pattern.arp_sequence_step_pattern_length7{
    grid-template-columns: repeat(7, 1fr);
}
.arp_sequence_step_pattern.arp_sequence_step_pattern_length6{
    grid-template-columns: repeat(6, 1fr);
}
.arp_sequence_step_pattern.arp_sequence_step_pattern_length5{
    grid-template-columns: repeat(5, 1fr);
}
.arp_sequence_step_pattern.arp_sequence_step_pattern_length4{
    grid-template-columns: repeat(4, 1fr);
}
.arp_sequence_step_pattern.arp_sequence_step_pattern_length3{
    grid-template-columns: repeat(3, 1fr);
}
.arp_sequence_step_pattern.arp_sequence_step_pattern_length2{
    grid-template-columns: repeat(2, 1fr);
}
.arp_sequence_step_pattern.arp_sequence_step_pattern_length1{
    grid-template-columns: repeat(1, 1fr);
}


.arp_sequence_step_pattern::after{
    content: "";
    display: none;
    width: 100%;
    height: 100%;
    background-color: #888;
    z-index: 1;
    background: orange;
}



.arp_pattern_patternvisual_playingentry0 .arp_sequence_step_pattern::after{
    grid-column: span 1 / span 1;
}
.arp_pattern_patternvisual_playingentry1 .arp_sequence_step_pattern::after{
    grid-column: span 2 / span 2;
}
.arp_pattern_patternvisual_playingentry2 .arp_sequence_step_pattern::after{
    grid-column: span 3 / span 3;
}
.arp_pattern_patternvisual_playingentry3 .arp_sequence_step_pattern::after{
    grid-column: span 4 / span 4;
}
.arp_pattern_patternvisual_playingentry4 .arp_sequence_step_pattern::after{
    grid-column: span 5 / span 5;
}
.arp_pattern_patternvisual_playingentry5 .arp_sequence_step_pattern::after{
    grid-column: span 6 / span 6;
}
.arp_pattern_patternvisual_playingentry6 .arp_sequence_step_pattern::after{
    grid-column: span 7 / span 7;
}
.arp_pattern_patternvisual_playingentry7 .arp_sequence_step_pattern::after{
    grid-column: span 8 / span 8;
}
.arp_pattern_patternvisual_playingentry8 .arp_sequence_step_pattern::after{
    grid-column: span 9 / span 9;
}
.arp_pattern_patternvisual_playingentry9 .arp_sequence_step_pattern::after{
    grid-column: span 10 / span 10;
}
.arp_pattern_patternvisual_playingentry10 .arp_sequence_step_pattern::after{
    grid-column: span 11 / span 11;
}
.arp_pattern_patternvisual_playingentry11 .arp_sequence_step_pattern::after{
    grid-column: span 12 / span 12;
}
.arp_pattern_patternvisual_playingentry12 .arp_sequence_step_pattern::after{
    grid-column: span 13 / span 13;
}
.arp_pattern_patternvisual_playingentry13 .arp_sequence_step_pattern::after{
    grid-column: span 14 / span 14;
}
.arp_pattern_patternvisual_playingentry14 .arp_sequence_step_pattern::after{
    grid-column: span 15 / span 15;
}
.arp_pattern_patternvisual_playingentry15 .arp_sequence_step_pattern::after{
    grid-column: span 16 / span 16;
}


.arp_sequence_playing_step_0 .arp_sequence_step-0 .arp_sequence_step_pattern::after,
.arp_sequence_playing_step_1 .arp_sequence_step-1 .arp_sequence_step_pattern::after,
.arp_sequence_playing_step_2 .arp_sequence_step-2 .arp_sequence_step_pattern::after,
.arp_sequence_playing_step_3 .arp_sequence_step-3 .arp_sequence_step_pattern::after,
.arp_sequence_playing_step_4 .arp_sequence_step-4 .arp_sequence_step_pattern::after,
.arp_sequence_playing_step_5 .arp_sequence_step-5 .arp_sequence_step_pattern::after,
.arp_sequence_playing_step_6 .arp_sequence_step-6 .arp_sequence_step_pattern::after,
.arp_sequence_playing_step_7 .arp_sequence_step-7 .arp_sequence_step_pattern::after,
.arp_sequence_playing_step_8 .arp_sequence_step-8 .arp_sequence_step_pattern::after,
.arp_sequence_playing_step_9 .arp_sequence_step-9 .arp_sequence_step_pattern::after,
.arp_sequence_playing_step_10 .arp_sequence_step-10 .arp_sequence_step_pattern::after,
.arp_sequence_playing_step_11 .arp_sequence_step-11 .arp_sequence_step_pattern::after,
.arp_sequence_playing_step_12 .arp_sequence_step-12 .arp_sequence_step_pattern::after,
.arp_sequence_playing_step_13 .arp_sequence_step-13 .arp_sequence_step_pattern::after,
.arp_sequence_playing_step_14 .arp_sequence_step-14 .arp_sequence_step_pattern::after,
.arp_sequence_playing_step_15 .arp_sequence_step-15 .arp_sequence_step_pattern::after{
    display: block;
    opacity: 1;
}

.arp_sequence_playing_step_0 .arp_sequence_step-0 .arp_sequence_step_pattern,
.arp_sequence_playing_step_1 .arp_sequence_step-1 .arp_sequence_step_pattern,
.arp_sequence_playing_step_2 .arp_sequence_step-2 .arp_sequence_step_pattern,
.arp_sequence_playing_step_3 .arp_sequence_step-3 .arp_sequence_step_pattern,
.arp_sequence_playing_step_4 .arp_sequence_step-4 .arp_sequence_step_pattern,
.arp_sequence_playing_step_5 .arp_sequence_step-5 .arp_sequence_step_pattern,
.arp_sequence_playing_step_6 .arp_sequence_step-6 .arp_sequence_step_pattern,
.arp_sequence_playing_step_7 .arp_sequence_step-7 .arp_sequence_step_pattern,
.arp_sequence_playing_step_8 .arp_sequence_step-8 .arp_sequence_step_pattern,
.arp_sequence_playing_step_9 .arp_sequence_step-9 .arp_sequence_step_pattern,
.arp_sequence_playing_step_10 .arp_sequence_step-10 .arp_sequence_step_pattern,
.arp_sequence_playing_step_11 .arp_sequence_step-11 .arp_sequence_step_pattern,
.arp_sequence_playing_step_12 .arp_sequence_step-12 .arp_sequence_step_pattern,
.arp_sequence_playing_step_13 .arp_sequence_step-13 .arp_sequence_step_pattern,
.arp_sequence_playing_step_14 .arp_sequence_step-14 .arp_sequence_step_pattern,
.arp_sequence_playing_step_15 .arp_sequence_step-15 .arp_sequence_step_pattern{
    background: rgb(254,242,0);
}

.arp_sequence_step-0--selected .arp_sequence_step-0 .arp_sequence_step_pattern,
.arp_sequence_step-1--selected .arp_sequence_step-1 .arp_sequence_step_pattern,
.arp_sequence_step-2--selected .arp_sequence_step-2 .arp_sequence_step_pattern,
.arp_sequence_step-3--selected .arp_sequence_step-3 .arp_sequence_step_pattern,
.arp_sequence_step-4--selected .arp_sequence_step-4 .arp_sequence_step_pattern,
.arp_sequence_step-5--selected .arp_sequence_step-5 .arp_sequence_step_pattern,
.arp_sequence_step-6--selected .arp_sequence_step-6 .arp_sequence_step_pattern,
.arp_sequence_step-7--selected .arp_sequence_step-7 .arp_sequence_step_pattern,
.arp_sequence_step-8--selected .arp_sequence_step-8 .arp_sequence_step_pattern,
.arp_sequence_step-9--selected .arp_sequence_step-9 .arp_sequence_step_pattern,
.arp_sequence_step-10--selected .arp_sequence_step-10 .arp_sequence_step_pattern,
.arp_sequence_step-11--selected .arp_sequence_step-11 .arp_sequence_step_pattern,
.arp_sequence_step-12--selected .arp_sequence_step-12 .arp_sequence_step_pattern,
.arp_sequence_step-13--selected .arp_sequence_step-13 .arp_sequence_step_pattern,
.arp_sequence_step-14--selected .arp_sequence_step-14 .arp_sequence_step_pattern,
.arp_sequence_step-15--selected .arp_sequence_step-15 .arp_sequence_step_pattern{
    background-color: rgb(1, 112, 194);
    background: linear-gradient(0deg, rgb(1, 112, 194) 57%, rgb(6, 86, 143) 100%) ;
}

