
  .arp_note{
    width: 10%;
    position: relative;
    box-sizing: content-box;
    flex-grow: 1;
    transform: translateY(13%);
  }

  .arp_note > .arp_note_inner {
    cursor: pointer;
  }

  .arp_note_inner::after{
    width: 11%;
    display: block;
    height: 5%;
    content: " ";/**/
    background: #0061ac !important;
    position: absolute;
    bottom: 23%;
    left: 45%;
    border-radius: 0%;
    
  }
  
  .arp_note--sharp>.arp_note_inner::after{
    width: 60%;
    display: block;
    height: 7%;
    content: " ";/**/
    background: #0061ac !important;
    position: absolute;
    bottom: -10%;
    left: 150%;
    border-radius: 0%;
    
  }
  
  .arp_note--notinscale > .arp_note_inner {
    pointer-events: none;
    cursor: auto;
    /*background: #0063af !important;
    background: rgb(254,242,242) !important;
    background: linear-gradient(0deg, rgb(226, 229, 243) 57%, rgb(189, 196, 236) 100%) !important;  
    /**/

  }

  .arp_note--sharp.arp_note--notinscale > .arp_note_inner{
    pointer-events: none;
    /*background: #0061ac !important;
    background: #08080a !important;
    background: linear-gradient(0deg, rgb(35, 35, 46) 57%, rgb(46, 46, 77) 100%) !important;
    /**/
  }

  .arp_note--sharp.arp_note--notinscale > .arp_note_inner::after,.arp_note--notinscale > .arp_note_inner::after {
    display: none;
    /*background: #0063af !important;*/
  }

  /*C*/
  .arp_note:nth-of-type(1) > .arp_note_inner {
    clip-path: polygon(0 0, 100% 0, 99% 99%, 4% 100%);
  }
  /*C#
  clip-path: polygon(5% 2%, 97% 1%, 99% 97%, 1% 100%);
  */
  /*D*/
  .arp_note:nth-of-type(2) > .arp_note_inner {
    clip-path: polygon(0 1%, 100% 0, 98% 100%, 0 99%);
  }
  /*D#
  clip-path: polygon(2% 1%, 97% 1%, 92% 97%, 2% 97%);
  */
  /*E*/
  .arp_note:nth-of-type(3) > .arp_note_inner {
    clip-path: polygon(3% 1%, 98% 0, 98% 97%, 0 100%);
  }
  /*F*/
  .arp_note:nth-of-type(4) > .arp_note_inner {
    clip-path: polygon(9% 0, 98% 3%, 95% 97%, 2% 100%);
}
  /*F#
  clip-path: polygon(9% 4%, 94% 0, 96% 99%, 3% 98%);
  */
/*G*/
  .arp_note:nth-of-type(5) > .arp_note_inner {
    clip-path: polygon(11% 4%, 95% 3%, 99% 100%, 2% 99%);
}
/*G#
clip-path: polygon(9% 1%, 95% 4%, 100% 100%, 3% 97%);
*/
/*A*/
  .arp_note:nth-of-type(6) > .arp_note_inner {
    clip-path: polygon(0 0, 95% 3%, 99% 100%, 6% 96%);
}
/*A#
clip-path: polygon(5% 1%, 96% 5%, 100% 97%, 1% 99%);
*/
/*B*/
  .arp_note:nth-of-type(7) > .arp_note_inner {
    clip-path: polygon(3% 3%, 98% 3%, 95% 97%, 2% 100%);

}

.arp_note:nth-of-type(1) > .arp_note_inner {
    clip-path: polygon(5% 1%, 96% 5%, 100% 97%, 1% 99%);
  }
  .arp_note:nth-of-type(2) > .arp_note_inner {
    clip-path: polygon(9% 1%, 95% 4%, 100% 100%, 3% 97%);
    }

  .arp_note_inner{ 
    transition: all 0.25s ease;
    background: rgb(221,213,199);
    background: linear-gradient(0deg, rgba(221,213,199,1) 0%, rgba(254,251,246,1) 1%, rgba(254,251,246,1) 57%, rgba(217,206,189,1) 100%);
    height: 80%;
    padding: 4.25% 50%;
    width: 0rem;
    /* border-bottom: 2px solid #aaa; */
    /* border-bottom-right-radius: 5px; */
    /* border-bottom-left-radius: 5px; */
    box-sizing: content-box;
  }
  .arp_note_inner:hover{
    background: rgb(254,242,242) !important;
    background: linear-gradient(0deg, rgb(226, 229, 243) 57%, rgb(189, 196, 236) 100%) !important;  
  }
   
  .arp_note_12 .arp_note_inner:before,
  .arp_note_24 .arp_note_inner:before, 
  .arp_note_36 .arp_note_inner:before, 
  .arp_note_48 .arp_note_inner:before, 
  .arp_note_60 .arp_note_inner:before, 
  .arp_note_72 .arp_note_inner:before, 
  .arp_note_84 .arp_note_inner:before, 
  .arp_note_96 .arp_note_inner:before  {
    width: 100%;
    height: 75%;
    position: absolute;
    left: 0;
    display: grid;
    opacity: 1;
    top: 0;
    align-items: end;
    padding-bottom: 0;
    font-weight: 600;
    color: #261f22;
    font-size: 4vw;
  }

  .arp_note_12 .arp_note_inner:before {
    content: "0";
  }
  .arp_note_24 .arp_note_inner:before  {
    content: "1";
  }
  .arp_note_36 .arp_note_inner:before  {
    content: "2";
  }
  .arp_note_48 .arp_note_inner:before {
    content: "3";
  }
  .arp_note_60 .arp_note_inner:before  {
    content: "4";
  }
  .arp_note_72 .arp_note_inner:before  {
    content: "5";
  }
  .arp_note_84 .arp_note_inner:before  {
    content: "6";
  }
  .arp_note_96 .arp_note_inner:before {
    content: "7";
  }
  
  .arp_notes--playing_20 .arp_note_20 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_21 .arp_note_21 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_22 .arp_note_22 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_23 .arp_note_23 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_24 .arp_note_24 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_25 .arp_note_25 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_26 .arp_note_26 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_27 .arp_note_27 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_28 .arp_note_28 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_29 .arp_note_29 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_30 .arp_note_30 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_31 .arp_note_31 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_32 .arp_note_32 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_33 .arp_note_33 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_34 .arp_note_34 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_35 .arp_note_33 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_36 .arp_note_36 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_37 .arp_note_37 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_38 .arp_note_38 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_39 .arp_note_39 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_40 .arp_note_40 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_41 .arp_note_41 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_42 .arp_note_42 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_43 .arp_note_43 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_44 .arp_note_44 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_45 .arp_note_45 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_46 .arp_note_46 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_47 .arp_note_47 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_48 .arp_note_48 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_49 .arp_note_49 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_50 .arp_note_50 .arp_note_inner {
    background: #FEF200 !important;
    border-bottom: 2px solid  #FEF200 !important;
    box-shadow: 0px 0px 15px 5px #FEF200;
  }
  .arp_notes--playing_51 .arp_note_51 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_52 .arp_note_52 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_53 .arp_note_53 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_54 .arp_note_54 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_55 .arp_note_55 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_56 .arp_note_56 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_57 .arp_note_57 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_58 .arp_note_58 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_59 .arp_note_59 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  /* MIDDLE C */
  .arp_notes--playing_60 .arp_note_60 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_61 .arp_note_61 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_62 .arp_note_62 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_63 .arp_note_63 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_64 .arp_note_64 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_65 .arp_note_65 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_66 .arp_note_66 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_67 .arp_note_67 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_68 .arp_note_68 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_69 .arp_note_69 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  
  .arp_notes--playing_70 .arp_note_70 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_71 .arp_note_71 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_72 .arp_note_72 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_73 .arp_note_73 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_74 .arp_note_74 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_75 .arp_note_75 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_76 .arp_note_76 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_77 .arp_note_77 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_78 .arp_note_78 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_79 .arp_note_79 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  
  .arp_notes--playing_80 .arp_note_80 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_81 .arp_note_81 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_82 .arp_note_82 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_83 .arp_note_83 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_84 .arp_note_84 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_85 .arp_note_85 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_86 .arp_note_86 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_87 .arp_note_87 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_88 .arp_note_88 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_89 .arp_note_89 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  
  .arp_notes--playing_90 .arp_note_90 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_91 .arp_note_91 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_92 .arp_note_92 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_93 .arp_note_93 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_94 .arp_note_94 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_95 .arp_note_95 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_96 .arp_note_96 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_97 .arp_note_97 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_98 .arp_note_98 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_99 .arp_note_99 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  
  .arp_notes--playing_100 .arp_note_100 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_101 .arp_note_101 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_102 .arp_note_102 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_103 .arp_note_103 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_104 .arp_note_104 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_105 .arp_note_105 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_106 .arp_note_106 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_107 .arp_note_107 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_108 .arp_note_108 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_109 .arp_note_109 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  
  .arp_notes--playing_110 .arp_note_110 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_111 .arp_note_111 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_112 .arp_note_112 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_113 .arp_note_113 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_114 .arp_note_114 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_115 .arp_note_115 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_116 .arp_note_116 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_117 .arp_note_117 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_118 .arp_note_118 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_119 .arp_note_119 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  
  .arp_notes--playing_120 .arp_note_120 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_121 .arp_note_121 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_122 .arp_note_122 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_123 .arp_note_123 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_124 .arp_note_124 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_125 .arp_note_125 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_126 .arp_note_126 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_127 .arp_note_127 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_128 .arp_note_128 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  .arp_notes--playing_129 .arp_note_129 .arp_note_inner {
    background: rgb(254,242,0) !important;
    background: linear-gradient(0deg, rgb(254,242,0) 57%, rgb(221,187,51) 100%) !important;
  }
  
    
  .arp_notes--highlighting_20 .arp_note_20 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_21 .arp_note_21 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_22 .arp_note_22 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_23 .arp_note_23 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_24 .arp_note_24 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_25 .arp_note_25 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_26 .arp_note_26 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_27 .arp_note_27 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_28 .arp_note_28 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_29 .arp_note_29 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_30 .arp_note_30 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_31 .arp_note_31 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_32 .arp_note_32 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_33 .arp_note_33 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_34 .arp_note_34 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_35 .arp_note_33 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_36 .arp_note_36 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_37 .arp_note_37 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_38 .arp_note_38 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_39 .arp_note_39 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_40 .arp_note_40 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_41 .arp_note_41 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_42 .arp_note_42 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_43 .arp_note_43 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_44 .arp_note_44 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_45 .arp_note_45 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_46 .arp_note_46 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_47 .arp_note_47 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_48 .arp_note_48 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_49 .arp_note_49 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_50 .arp_note_50 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_51 .arp_note_51 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_52 .arp_note_52 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_53 .arp_note_53 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_54 .arp_note_54 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_55 .arp_note_55 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_56 .arp_note_56 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_57 .arp_note_57 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_58 .arp_note_58 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_59 .arp_note_59 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  /* MIDDLE C */
  .arp_notes--highlighting_60 .arp_note_60 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_61 .arp_note_61 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_62 .arp_note_62 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_63 .arp_note_63 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_64 .arp_note_64 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_65 .arp_note_65 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_66 .arp_note_66 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_67 .arp_note_67 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_68 .arp_note_68 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_69 .arp_note_69 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  
  .arp_notes--highlighting_70 .arp_note_70 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_71 .arp_note_71 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_72 .arp_note_72 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_73 .arp_note_73 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_74 .arp_note_74 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_75 .arp_note_75 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_76 .arp_note_76 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_77 .arp_note_77 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_78 .arp_note_78 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_79 .arp_note_79 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  
  .arp_notes--highlighting_80 .arp_note_80 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_81 .arp_note_81 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_82 .arp_note_82 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_83 .arp_note_83 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_84 .arp_note_84 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_85 .arp_note_85 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_86 .arp_note_86 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_87 .arp_note_87 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_88 .arp_note_88 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_89 .arp_note_89 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  
  .arp_notes--highlighting_90 .arp_note_90 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_91 .arp_note_91 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_92 .arp_note_92 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_93 .arp_note_93 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_94 .arp_note_94 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_95 .arp_note_95 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_96 .arp_note_96 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_97 .arp_note_97 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_98 .arp_note_98 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_99 .arp_note_99 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  
  .arp_notes--highlighting_100 .arp_note_100 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_101 .arp_note_101 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_102 .arp_note_102 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_103 .arp_note_103 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_104 .arp_note_104 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_105 .arp_note_105 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_106 .arp_note_106 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_107 .arp_note_107 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_108 .arp_note_108 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_109 .arp_note_109 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  
  .arp_notes--highlighting_110 .arp_note_110 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_111 .arp_note_111 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_112 .arp_note_112 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_113 .arp_note_113 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_114 .arp_note_114 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_115 .arp_note_115 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_116 .arp_note_116 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_117 .arp_note_117 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_118 .arp_note_118 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_119 .arp_note_119 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  
  .arp_notes--highlighting_120 .arp_note_120 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_121 .arp_note_121 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_122 .arp_note_122 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_123 .arp_note_123 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_124 .arp_note_124 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_125 .arp_note_125 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_126 .arp_note_126 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_127 .arp_note_127 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_128 .arp_note_128 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  .arp_notes--highlighting_129 .arp_note_129 .arp_note_inner {
    background: #2789f9 !important;
    border-bottom: 2px solid  #1d61ad !important;
  }
  